<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <title>nginx 启动脚本</title>
    <link rel="stylesheet" href="src/lib/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        [v-clock] {
            display: none;
        }

        .shadow-layer {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 666;
        }

        .shadow-layer div {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -10px 0 0 -30px;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="container-fluid" id="vm">

        <div class="row" style="margin: 10px auto">
            <div class="col-md-12">
                <div class="btn-toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success" @click="doStart()">启动</button>
                        <button type="button" class="btn btn-danger" @click="doStop()">停止</button>
                        <!-- <button type="button" class="btn btn-info" @click="doRestart()">重启</button> -->
                    </div>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-info" @click="refresh()">刷新</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 10px auto">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">Nginx 路径：</span>
                    <input type="text" class="form-control" v-model="nginxPath" readonly placeholder="请设置 Nginx 路径...">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" @click="setNginxPath">点击设置</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 10px auto">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <!-- <thead>
                        <tr>
                            <th>
                                PID
                            </th>
                            <th>
                                name
                            </th>
                            <th>
                                Mem
                            </th>
                        </tr>
                    </thead> -->
                    <!-- <thead>
                        <tr>
                            <th>当前正在运行的 nginx 进程</th>
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr v-for="item in processArr">
                            <td>
                                <pre>{{item}}</pre>
                            </td>
                        </tr>
                        <tr v-show="processArr.length == 0">
                            <td>
                                当前没有正在运行的 nginx 进程
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="shadow-layer" v-cloak v-show="showLoading">
            <div>loading ...</div>
        </div>
    </div>

    <script src="src/lib/jquery/3.2.1/jquery.min.js"></script>
    <script>
        if (typeof module === 'object') {
            window.jQuery = window.$ = module.exports;
        };
    </script>
    <script src="src/lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="src/lib/vue/2.5.12/vue.min.js"></script>
    <script src="src/js/index.js"></script>
</body>

</html>